%section.publication
  %header
    %h1 Product Details

  %p Publication Date: #{ book.date.strftime("%B %-d, %Y") }

  -paperback = book.paperback
  %p
    Paperback #{paperback.price}
    -if paperback.isbn
      |
      %span.nobreak #{isbn10(paperback.isbn, '-')}
      |
      %span.nobreak #{isbn13(paperback.isbn, '-')}
    -if paperback.pages
      |
      %span.nobreak #{paperback.pages} pages

  -ebook = book.ebook
  %p
    Ebook #{ebook.price}
    -if ebook.isbn
      |
      %span.nobreak #{isbn10(ebook.isbn, '-')}
      |
      %span.nobreak #{isbn13(ebook.isbn, '-')}
