%h2 Available #{book.available}

%p
  Paperback #{book.paperback.price}
  -if book.paperback.isbn
    | #{isbn10(book.paperback.isbn, '-')}
    | #{isbn13(book.paperback.isbn, '-')}

%p
  Ebook #{book.ebook.price}
  -if book.ebook.isbn
    | #{isbn10(book.ebook.isbn, '-')}
    | #{isbn13(book.ebook.isbn, '-')}

-if book.available == 'Now'
  %h2 Buy
  %p
    = (paperback_links(book) + ebook_links(book)).join(" | ")

-if book.collections
  %h2  Collections
  %p This story and others also appear in:
  - book.collections.each do |collection|
    %div #{title_link(collection)}
