%h2 Publication Details

-if book.available
  %p= "Published #{book.pubdate}"
-elsif !book.pubdate.nil?
  %p= "Coming #{book.pubdate}"

-if book.pubdate
  %p

%p
  Paperback #{book.paperback.price}
  -if book.paperback.isbn
    | #{isbn10(book.paperback.isbn, '-')}
    | #{isbn13(book.paperback.isbn, '-')}

%p
  Ebook #{book.ebook.price}
  -if book.ebook.isbn
    | #{isbn10(book.ebook.isbn, '-')}
    | #{isbn13(book.ebook.isbn, '-')}

-if book.collections
  %h2  Collections
  %p This story and others also appear in:
  - book.collections.each do |collection|
    %div #{title_link(collection)}
