%h2 Publication Details

-if book.available
  %p= "Published #{book.pubdate}"
-elsif book.pubdate
  %p= "Coming #{book.pubdate}"

-paperback = book.paperback
%p
  Paperback #{paperback.price}
  -if paperback.isbn
    | #{isbn10(paperback.isbn, '-')}
    | #{isbn13(paperback.isbn, '-')}
  -if paperback.pages
    | #{paperback.pages} pages

-ebook = book.ebook
%p
  Ebook #{ebook.price}
  -if ebook.isbn
    | #{isbn10(ebook.isbn, '-')}
    | #{isbn13(ebook.isbn, '-')}

-if book.collections
  %h2  Collections
  %p This story and others also appear in:
  - book.collections.each do |collection|
    %div #{title_link(collection)}
