%h2 Available #{book.available}

%p
  Paperback #{book.paperback.price}
  -if book.paperback.isbn
    | #{isbn13(book.paperback.isbn, '-')}
-if book.available == 'Now'
  %p
    = paperback_links(book).join(", ")

%p
  Ebook #{book.ebook.price}
  -if book.ebook.isbn
    | #{isbn13(book.ebook.isbn, '-')}
-if book.available == 'Now'
  %p
    = ebook_links(book).join(", ")
