%h2 Available #{book.available}

%p
  Paperback #{book.price.paperback}
  -if book.available == 'Now' && book.paperback
    &#8212;
    = paperback_links(book).join(", ")

%p
  Ebook #{book.price.ebook}
  -if book.available == 'Now' && book.ebook
    &#8212;
    = ebook_links(book).join(", ")
